[submodule "libs/libzippp"]
	path = emulator/libs/libzippp
	url = https://github.com/ctabin/libzippp
[submodule "libs/imgui"]
	path = desktop/libs/imgui
	url = https://github.com/ocornut/imgui
[submodule "libs/lua54"]
	path = emulator/libs/lua54
	url = https://github.com/scratchminer/lua54
[submodule "libs/unicorn"]
	path = emulator/libs/unicorn
	url = https://github.com/unicorn-engine/unicorn
[submodule "libs/nlohmann_json"]
	path = emulator/libs/nlohmann_json
	url = https://github.com/nlohmann/json
[submodule "libs/ffi"]
	path = emulator/libs/ffi
	url = https://github.com/blade-lang/ffi
[submodule "libs/zlib"]
	path = emulator/libs/zlib
	url = https://github.com/madler/zlib
[submodule "emulator/libs/libzip"]
	path = emulator/libs/libzip
	url = https://github.com/nih-at/libzip
[submodule "emulator/libs/capstone"]
	path = emulator/libs/capstone
	url = https://github.com/capstone-engine/capstone
